@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
}

.BasicsMusic {
    background: linear-gradient(180deg, #3399d9 0%, #0B022D 100%);
    height: 500px;
}

.BasicsPodcast {
    background: linear-gradient(180deg, #a939ce 0%, #0B022D 100%);
    height: 500px;
}

.BasicsMembers {
    background: linear-gradient(180deg, #cb6a1a 0%, #0B022D 100%);
    height: 500px;
}

.HeaderMP {
    font-size: large;
    font-family: var(--fonts);
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
}

.Title {
    color:white;
}

.Search {
    width: 650px;
    height: 40px;
    cursor: pointer;
    padding-left: 10px;
    background-color: rgb(29, 29, 29);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;   
}

.SearchIcon {
    color: white;
}

.InputSearch {
    background-color: rgb(29, 29, 29);
    font-size: small;
    font-family: var(--fonts);
    color: white;
    width: 600px;
    border: 0px solid transparent;
    outline: none;
    padding-left: 20px;
}

.InputSearch::placeholder {
    color:white;
    font-size: 16px;
}

.Filters {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: var(--fonts);
    margin-top: 30px;
}

.SelectMusic {
    background-color: #26477c;
    border-radius: 10px;
    border: 1px solid #282828;
    padding: 5px;
    margin: 10px;
    color: white;
}

.SelectPodcast {
    background-color: #59237a;
    border-radius: 10px;
    border: 1px solid #282828;
    padding: 5px;
    margin: 10px;
    color: white;
}

.Label {
    margin-right: 20px;
}

.BlackMP {
    height:auto;
    width: 100%;
    margin-top: 100px;
    background-color: black;
    color:white;
    min-height: 50vh;
}

.TrendingTittle {
    padding-top: 50px;
    padding-left: 100px;
    font-size: x-large;
    font-family: var(--fonts);
    color:white;
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 80px);
    margin-bottom: 130px;
}


.gallery-page-nav {
    margin-top: -40px;   
}

.searchButton {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-right {
    background-color: #414141; 
    border: 1px solid #414141; 
    padding: 10px 30px;
    cursor: pointer; 
    float: left; 
    border-radius: 0 15px 15px 0;
    color: white; 
    font-family: var(--fonts);
    font-weight: bold;
}
  
.btn-left {
    background-color: #414141; 
    border: 1px solid #414141; 
    padding: 10px 30px;
    cursor: pointer; 
    float: left; 
    border-radius: 15px 0 0 15px;
    color: white; 
    font-family: var(--fonts);
    font-weight: bold;
}

.btn-group button:hover {
    background-color: rgb(67, 115, 203);
}

.btn-group button.activeButton {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(49, 49, 49);
}

.btn-group button.activeButton:hover {
    background-color: rgb(34, 61, 111)
}

.no-results {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: var(--fonts);
}

.noResultsIcon {
    margin-right: 10px;
    color: white;
}