.BasicsMusic {
    background: linear-gradient(180deg, #3399d9 0%, #0B022D 100%);
    height: 600px;
}

.BasicsPodcast {
    background: linear-gradient(180deg, #a939ce 0%, #0B022D 100%);
    height: 600px;
}

.BasicsMembers {
    background: linear-gradient(180deg, #cb6a1a 0%, #0B022D 100%);
    height: 600px;
}

.HeaderMP {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 15%;
    left: 46%;
    text-align: center;
    color:white;
}

.Title {
    color:white;
}

.Search {
    width: 650px;
    height: 40px;
    cursor: pointer;
    padding-left: 10px;
    background-color: rgb(29, 29, 29);
    border-radius: 24px;
    display: flex;
    place-items: center;
    position: absolute;
    top: 30%;
    left: 28%;
    padding-right: 10px;   
}

.SearchIcon {
    color: white;
}

.InputSearch {
    background-color: rgb(29, 29, 29);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 600px;
    border: transparent;
}

.InputSearch::placeholder {
    color:white;
    font-size: 16px;
    padding:10px;
}

.Filters {
    position: absolute;
    top: 37%;
    left: 37%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.SelectMusic {
    background-color: #26477c;
    border-radius: 10px;
    border: 1px solid #282828;
    padding: 5px;
    margin: 10px;
    color: white;
}

.SelectPodcast {
    background-color: #59237a;
    border-radius: 10px;
    border: 1px solid #282828;
    padding: 5px;
    margin: 10px;
    color: white;
}

.Label {
    margin-right: 20px;
}

.BlackMP {
    height:100vh;
    width: 100%;
    margin-top: 360px;
    background-color: black;
    color:white;
}

.TrendingTittle {
    padding-top: 50px;
    padding-left: 100px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}