@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
}

.Basics {
    background: linear-gradient(180deg, #3D13E5 0%, #0B022D 100%);
    height: auto;
    min-height: 100vh;
}

html, body {
margin: 0;
padding: 0;
}

.Black {
height: 100vh;
background-color: black;
}

.container {
display: grid;
width: 80%;
place-content: center;
margin: auto;  
margin-bottom: 40px;
position: relative;
font-family: var(--fonts);
}

