@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
}

  .media-container {
    position: relative;
    margin-top: 50px;
    font-family: var(--fonts);
  }
  .media-scroller,
  .media-group {
    display: grid;
    gap: 0.2rem;
    grid-auto-flow: column;
  }
  .media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
  }
  .media-group {
    grid-auto-columns: 1fr;
  }
  .media-element {
    margin: 0 30px;
  }
  .media-element > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  .next,
  .previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
  }
  .previous {
    left: 0;
    top: 0;
    bottom: 0;
  }
  .next {
    right: 0;
    top: 0;
    bottom: 0;
  }
  .media-group:first-child :where(.next, .previous) {
    display: flex;
  }
  .media-scroller :where(.next, .previous) {
    opacity: 1;
  }
  :where(.next, .previous) {
    background: rgb(0 0 0 / 0.3);
  } 
  :where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
  }
  :where(.next, .previous) > svg {
    transform: scale(1.2);
  }
  .media-group:target :where(.next, .previous) {
    display: flex;
  }
  .media-scroller:has(:target:not(:first-child))
    .media-group:first-of-type
    .next {
    display: none;
  }


