@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonts: 'Poppins', Arial, widthlvetica, sans-serif;
    --fondo: #1C1C1C;
}

.vaultPrev {
    width: 145px;
    height: 210px;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
}

.text-vault-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

 .vault-image {
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin: 18px 18px 0 18px;
 }

.profile-username-grid {
    margin-inline: 0px;
    display: grid;
    justify-content: center;

}

 .vault-name {
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--fonts);
    padding: 0;
    margin: 0;
 }

 .vault-type {
    color:gray;
    padding: 0;
    margin: 0;
    margin-top: 5px;
 }

 