.vaultPrev {
    width: 260px;
    height: 325px;
    border-radius: 8px;
    background: var(--fondo, #1C1C1C);
}

.imgVault {
    border-radius: 8px;
    width: 228px;
    height: 213px;
    margin-top: 14px;
    margin-left: 14px;
    border-radius: 8px;
    background: cover no-repeat;
    z-index: 0;
}

.likesBox {
    border-radius: 8px;
    background: #000;
    width: 123px;
    height: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    z-index: 1;
}

.artist {
    border-radius: 249.526px;
    background: cover no-repeat;
}

.type {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    display: flex;
    margin: 18px;    
    color: white;
}