@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
    --light-blue: #0085FF;
}

.header{
    margin-inline: auto;
    margin-top: -30px;
    font-family: var(--fonts);
    
}

.view-all {
    background-color: var(--light-blue);
    color: white;
    font-family: var(--fonts);
    font-size: small;
    font-weight: 700;
    width: 110px;
    height: 35px;
    border-radius: 24px;
}

.sub-gallery-item {
    flex: 0 0 calc(33.33% - 80px);
    margin-bottom: 20px;
}

.sub-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 105px;
}

.sub-title {
    color: white;
    font-family: var(--fonts);
    font-size: 20;   
    text-align: left;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    width: 70%;
}

.no-results-mem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--fonts);
}