@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
}

.Back {
    background: linear-gradient(180deg, #03bf67 0%, #000000 100%);
    height: auto;
    padding-bottom: 5%;
}

.vault {
    background-color: rgb(37, 37, 37);
    height: auto;
    width: 55%;
    border-radius: 12px;
    color: white;
    padding: 1% 5%;
    margin: 0 18%;
    font-family: var(--fonts);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.main-image {
    border-radius: 12px;
}

.likesBox {
    display: flex;
    justify-content: flex-end;
}

.like {
    cursor: pointer;
    margin-top: 12px;
    margin-left: 12px;
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.type {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

.info {
    margin-left: 3%;
}

.info-header {
    display: flex;
    align-items: center;
}

.button {
    margin-left: auto;
}

.spotifyButton {
    background-color: #00b35f;
    outline: transparent;
    border: transparent;
    cursor: pointer;
    border-radius: 24px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 25px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.spotifyLogo {
    margin-right: 10px;
}

.secondary-image {
    border-radius: 50px;
    margin-right: 10px;
}

.secondary-info {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.info-item {
    margin: 0 10px;
}

.info-separation {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.info-item-2 {
    margin: 0 10px;
    opacity: 80%;
}

.commentaries {
    margin-top: 5%;
    margin-bottom: 5%;
}

hr {
    border: none;
    border-top: 1px solid rgb(94, 94, 94); /* Cambiar el color y el grosor según tus preferencias */
}

.join-vault {
    display: flex;
    align-items: center;
}

.join-button {
    background: #3D13E5;
    color: white;
    height: 50px;
    font-weight: bold;
    font-family: var(--fonts);
    border: none;
    border-radius: 24px;
    padding: 15px 40px;
    position: fixed;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 999; 
    display: flex;
    align-items: center;
}

.mini-logo {
    margin-left: 15px;
}