aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.12
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
Babel==2.8.0
behave==1.2.6
blinker==1.4
certifi==2020.6.20
channels==4.0.0
chardet==4.0.0
charset-normalizer==3.2.0
cryptography==3.4.8
dbus-python==1.2.18
defusedxml==0.7.1
distlib==0.3.7
distro==1.7.0
dj-database-url==2.1.0
Django==3.2.5
django-cors-headers==4.1.0
django-filter==23.2
django-nextjs==2.4.0
django-storages==1.14
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djoser==2.1.0
docutils==0.17.1
filelock==3.12.3
frozenlist==1.4.0
gyp==0.1
httplib2==0.20.2
idna==3.3
imagesize==1.3.0
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.0.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Markdown==3.4.4
MarkupSafe==2.0.1
more-itertools==8.10.0
multidict==6.0.4
netifaces==0.11.0
ninja==1.11.1
oauthlib==3.2.0
olefile==0.46
optional-django==0.3.0
packaging==21.3
parse==1.19.1
parse-type==0.6.2
Pillow==9.0.1
pipenv==2023.9.1
platformdirs==3.10.0
psycopg2==2.9.7
psycopg2-binary==2.9.7
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2022.1
PyYAML==5.4.1
react==4.3.0
redis==5.0.0
requests==2.25.1
requests-oauthlib==1.3.1
roman==3.3
SecretStorage==3.3.1
six==1.16.0
snowballstemmer==2.2.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
Sphinx==4.3.2
sphinx-rtd-theme==1.2.2
sphinxcontrib-jquery==4.1
spotipy==2.23.0
sqlparse==0.4.4
systemd-python==234
typing_extensions==4.7.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
virtualenv==20.24.4
wadllib==1.3.6
websockets==11.0.3
yarl==1.9.2
zipp==1.0.0
