@use 'colors'; 
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* lo usamos? */
.body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.Basics {
  background: linear-gradient(180deg, colors.$primary-color 0%, #0B022D 100%);
  height: 100vh;
}


.Black {
  min-height: 100vh;
  background-color: black;
  
}

.container {
  display: grid;
  width: 80%;
  place-content: center;
  margin: auto;  
  margin-bottom: 40px;
  position: relative;
  z-index: 0;
  
}

h1, h2, h3 {
  text-align: left;
  color:white;
  font-family: var(--font-poppins);
  font-weight: 700;
}

h2 {
  font-size: 30px;
  margin-top: 50px;
}

