.homeImage {
    height: 420px;
    width: 440px;
    margin-left: 120px;
  
}

.Header {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 70px;
    padding-right : 60px;
    padding-left : 0px;
    width: 350px;
    line-height: 55px;
}

button.createAccount {
    margin-top: 50px;
    width: 90%;
}

p.createAccount{
    color: white;
    height: auto;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 400;
    border-radius: 24px;
    background-color: green;
}

.homeBox {
    background-color:none ; 
    margin: 50px;
    margin-top: 80px;

    display: flex;
    
    float: center;
    justify-content: center;
}

.figure {
    margin-top: 250px;
    z-index: -1;
}

.Search {
    width: 650px;
    height: 40px;
    cursor: pointer;
    padding-left: 10px;
    background-color: rgb(29, 29, 29);
    border-radius: 24px;
    margin-top: 1100px;
    display: flex;
    place-items: center;
    position: absolute;
    top: 10%;
    left: 28%;
    padding-right: 10px;   
    z-index: 1;
}

.InputSearch {
    background-color: rgb(29, 29, 29);
    font-size: small;
    font-family: var(--font-poppins);
    color: white;
    width: 600px;
}

.InputSearch::placeholder {
    color:white;
}
