
.Menu {
    width: 70%;
    
    padding-top: 20px;
    margin: auto;    
    align-items: center;
    background-color:none;
}

.Logo {
    height: 26px;
    width: 140px;
    margin-top: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.Navigation {
    float: right;
    display: grid;
    place-items: center;
}

.List {
    list-style: none;
    display: flex;
}

.NavItem {
    display: inline;
    padding: 5px;
    margin-left: 15px;
}

.Item {
    text-decoration: none;
    font-family: var(--font-poppins);
    color: white; 
    font-weight: regular;
    font-size: 16px;
}

.LogIn {
    border-radius: 24px;
    cursor: pointer;
    background-color: none;
    width: 80px; 
    border: 1px solid white;
  }

.search {
    width: 230px;
    height: 26px;
    opacity: 40%;
    cursor: pointer;
    flex-shrink: 0;
    padding-left: 10px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    place-items: center;
}
#searcher {
    color: black;
}

input {
    background-color: none;
    width: 190px;
    opacity: 100%;
}