<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'commentBox.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="box">
            <img class="image" height="40" width="40" src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231709/thesomeday123170900021/85622928-icono-de-perfil-de-avatar-predeterminado-marcador-de-posici%C3%B3n-de-foto-gris-vectores-de.jpg">
            <div class="comment">
                <h4>Marcos Vivaldi</h4>
                <p class="username">@marcos_vivaldi</p>
                <p class="commentary">The best album by far!</p>
            </div>
            <div class="likes-thumb">
                <p>4</p>
                <i onclick="toggleThumb(this)" class="material-icons thumb">thumb_up_off_alt</i>
            </div>
        </div>

        <script>
            function toggleThumb(x) {
               if (x.textContent === 'thumb_up_off_alt') {
                   x.textContent = 'thumb_up';
               } else {
                   x.textContent = 'thumb_up_off_alt';
               }
           }
       </script>
    </body>
</html>