<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'commentBox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="box">
            <img class="image" height="40" width="40" src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231709/thesomeday123170900021/85622928-icono-de-perfil-de-avatar-predeterminado-marcador-de-posici%C3%B3n-de-foto-gris-vectores-de.jpg">
            {% if type != "false" %}
            <a href="{% url 'post' vtype=type id=id post_id=post_id %}" style="text-decoration: none;">
            <div class="comment">
                <div class="comment-header">
                    <h4 class="comment-title">@{{username}}</h4>
                    <p class="date">{{date}}</p>
                </div>
                <p class="commentary">{{title}}</p>
            </div>
            </a>
            {% else %}
            <div class="comment">
                <div class="comment-header">
                    <h4 class="comment-title">@{{username}}</h4>
                    <p class="date">{{date}}</p>
                </div>
                <p class="commentary">{{title}}</p>
            </div>
            {% endif %}
            <div class="likes-thumb">
                <div class="rate">
                    <span class="star-rating">
                        <i class="fa fa-star{% if rating >= 1 %} rated{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if rating >= 2 %} rated{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if rating >= 3 %} rated{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if rating >= 4 %} rated{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if rating >= 5 %} rated{% endif %}" aria-hidden="true"></i>
                    </span>
                </div>

                <!-- No se si esto va a ir
                <i onclick="toggleThumb(this)" class="material-icons thumb">thumb_up_off_alt</i>
                -->
            </div>
        </div>

        <script>
            function toggleThumb(x) {
               if (x.textContent === 'thumb_up_off_alt') {
                   x.textContent = 'thumb_up';
               } else {
                   x.textContent = 'thumb_up_off_alt';
               }
           }
       </script>
    </body>
</html>