<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'basicsSections.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'globals.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="Black">
    <div class='BasicsMusic'>
        {% include 'NavBar.html' %}
        <div class='HeaderMP'>
            <h1 class="Title">Music</h1>
        </div>
        <div class="Search">
            <input class="InputSearch" placeholder='What do you want to talk about?' type="text" style="color: white" id="searcher"/>
            <i class="material-icons SearchIcon">search</i>
        </div>
        <div class="Filters">
            <label class='Label'>FILTER BY</label>
            <select class='SelectMusic'>
                <option value="0">Genre</option>
                <option value="1">Disco</option>
                <option value="2">Rock</option>
                <option value="3">Classic</option>
                <option value="4">Reggaeton</option>
                <option value="5">Pop</option>
                <option value="6">Salsa</option>
            </select>
            <select class='SelectMusic'>
                <option value="0">Active</option>
                <option value="1">Trending</option>
                <option value="2">Emergent</option>
                <option value="3">New</option>
            </select>
        </div>
        <div class='BlackMP'>
            <h1 class='TrendingTittle'>Trending Vaults</h1>
            <div class='gallery'>
            {% for artist_id, artist_data in top.items %}
                <div class='gallery-item'>
                {% with artist_description="/vault/artist/"|add:artist_id %}
                {% include 'previewVault.html' with vtype='Artist' spotifyimg=artist_data.image description=artist_description likes=artist_data.likes  title=artist_data.artist %}
                {% endwith %}
                </div>
            {% endfor %}
                <div class='gallery-page-nav'>
                {% include 'pagination.html'  %}                
                </div>
            </div>      
        </div>
    </div>
</body>
</html>

