<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pagination.css' %}">
    </head>

<body>
<div class="containerPag">
    <nav>    
        <ul class="pagination">
        <li class="page-item ">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item "><a class="page-link" href="#">1</a></li>
        <li class="page-item "><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item ">
            <a class="page-link next" href="#">Next</a>
        </li>
        </ul>
  </nav>
</div>
</ody>
</html>

