<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'settings.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'globals.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div class="Back">
            {% include 'NavBar.html' %}

            <div class="formContainer">
            <div class="formBox" style="padding:0;">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div style="display: flex; margin-top: 60px;">   
                            <div class="profileImage" style="margin-left: 20px;">
                                <div>
                                <figure>
                                    <img class="image-large" src="{{user_profile.profileimg}}" alt="profile image">
                                </figure>
                                    <div style="margin-left: 50px; font-size: 20px;">
                                        {% if isArtist %}
                                        <label style="font-weight: bold; display: flex; align-items: center;">{{ user_profile.user }} <i class="material-icons" style="color: rgb(0, 128, 255); margin-left: 10px;">verified</i></label>
                                        {% else %}
                                        <label style="font-weight: bold;">{{ user_profile.user }}</label>
                                        <br>
                                        {% endif %}
                                        <label style="color: rgb(182, 182, 182)">Profile</label>
                                    </div>
                                </div>
                            </div>
                    

                        <div class="profileInfo">

                            <div class="followers">
                                <div class="followersItem"> 
                                    <p style="margin: 0;">{{user_followers}}</p>
                                    <p class="mini-text">Followers</p>
                                </div>
                                <div class="followersItem"> 
                                    <p style="margin: 0;">{{user_following}}</p>
                                    <p class="mini-text">Following</p>
                                </div>
                                <div class="followersItem"> 
                                    <p style="margin: 0;">{{user_comment_length}}</p>
                                    <p class="mini-text">Comments</p>
                                </div>
                            </div>
                            
                            <div class="bio">
                                {% if not user_profile.bio and not user_profile.location %}
                                    <div style="text-align: center;">
                                        <p>No data</p>
                                    </div>
                                    {% else %}
                                    <p style="margin: 0 0 0 5px;">{{user_profile.bio}}</p>  
                                    {% if user_profile.location %}
                                        <div class="location">
                                            <i class="material-icons" style="margin-right: 5px;">place</i>
                                            <p style="margin: 0;">{{user_profile.location}}</p>  
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                            
                        <div class="buttonBox">
                            {% if isCurrentUser %}
                            <a href="/settings" style = "text-decoration: none">
                                <div class="editButton"> 
                                    Edit profile <i class="material-icons" style="margin-left: 5px;">edit</i>
                                </div>
                            </a>
                            <div class="logoutButton" onclick="showPopup()"> 
                                <div style="display: flex; align-items: center;"> 
                                    Log out <i class="material-icons" style="margin-left: 10px;">logout</i>
                                </div>
                            </div> 
                            {% else %}
                            <form action="{% url 'follow' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{user_profile.user}}" name="user" />
                                    <button class="followButton" type="submit" style="display: flex; align-items: center;"> 
                                        {{button_text}}
                                    </button>
                            </form> 
                            {% endif %}                
                        </div>
                    </div>
                </div>

                <div class="comments-favs">
                    <div class="btn-group">
                        <button onclick="showContent('comments')" id="commentsBtn" class = "btn-left activeButton">Comments</button>
                        <button onclick="showContent('favs')" id="favsBtn" class = "btn-right">Favourites</button>
                    </div>

                    <div id="commentsContent" class="comments">
                            {{user_comments}}
                    </div>

                    <div id="favsContent" class="favs" style="display: none;">
                            favs
                    </div>
                </div>
            </div>
            </div>

            <div id="popup" class="popup" style="display: none;">
                <span onclick="closePopup()" class="closeButton"><i class="material-icons">close</i></span>
                <h4>Are you sure you want to log out?</h4>
                <p>If you do so, your session will be closed.</p>
                <div class="buttonBox">
                    <div class="editButton" onclick="closePopup()" style="margin-right: 25px; width: 100px;"> Cancel </div>
                    <a href="/logout" style = "text-decoration: none">  
                        <div class="logoutButton" style="width: 100px;"> Log out </div> 
                    </a>
                </div>
            </div>
        </div>

        <script>
            function showContent(contentType) {
                var commentsBtn = document.getElementById('commentsBtn');
                var favsBtn = document.getElementById('favsBtn');

                var commentsContent = document.getElementById('commentsContent');
                var favsContent = document.getElementById('favsContent');

                if (contentType === 'comments') {
                    commentsBtn.classList.add('activeButton');
                    favsBtn.classList.remove('activeButton');

                    commentsContent.style.display = 'block';
                    favsContent.style.display = 'none';

                } else if (contentType === 'favs') {
                    commentsBtn.classList.remove('activeButton');
                    favsBtn.classList.add('activeButton');

                    commentsContent.style.display = 'none';
                    favsContent.style.display = 'block';
                }
            }

            function showPopup() {
              var popup = document.getElementById("popup");
              popup.style.display = "block";
            }
            
            function closePopup() {
              var popup = document.getElementById("popup");
              popup.style.display = "none";
            }

        </script>

    </body>
</html>