<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'basicsSections.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'globals.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body>
    <div class='BasicsMusic'>
        {% include 'NavBar.html' %}
        <div class='HeaderMP'>
            <h1 class="Title">Music</h1>
        </div>
        

        <form method="POST"> 
            {% csrf_token %}

            <div class="Search">
                <input class="InputSearch" placeholder='What do you want to talk about?' type="text" name="query" style="color: white"/>
                <button type='submit' class="searchButton">
                    <i class="material-icons SearchIcon">search</i>
                </button> 
            </div>
        </form>

        <div class="Filters">
            <label class='Label'>FILTER BY</label>
            <select class='SelectMusic'>
                <option value="0">Genre</option>
                <option value="1">Disco</option>
                <option value="2">Rock</option>
                <option value="3">Classic</option>
                <option value="4">Reggaeton</option>
                <option value="5">Pop</option>
                <option value="6">Salsa</option>
            </select>
            <select class='SelectMusic'>
                <option value="0">Active</option>
                <option value="1">Trending</option>
                <option value="2">Emergent</option>
                <option value="3">New</option>
            </select>
        </div>
        <div class='BlackMP'>
            <h1 class='TrendingTittle'>Results found for: {{ query }}</h1>

            <div class="btn-group">
                <button onclick="showContent('artists')" id="artistsBtn" class = "btn-left activeButton">Artists</button>
                <button onclick="showContent('albums')" id="albumsBtn" class = "btn-right">Albums</button>
            </div>
            
            <div id="artistsContent" class="content">
                <div class='gallery'>
                    {% for artist in result.0.vaults %}
                        {% with artist_id=artist.id %}
                        <div class='gallery-item'>
                            {% with artist_description="/vault/artist/"|add:artist_id %}
                                {% include 'previewVault.html' with vtype='Artist' spotifyimg=artist.image description=artist_description likes=artist.likes  title=artist.artist %}
                            {% endwith %}
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        
        <div id="albumsContent" class="content" style="display: none;">
            <div class='gallery'>
                {% for album in result.1.vaults %}
                    {% with album_id=album.id %}
                        <div class='gallery-item'>
                            {% with album_description="/vault/album/"|add:album_id %}
                                {% include 'previewVault.html' with vtype='Album' spotifyimg=album.image description=album_description likes=album.likes  title=album.album %}
                            {% endwith %}
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<script>
    function showContent(contentType) {
        var artistsBtn = document.getElementById('artistsBtn');
        var albumsBtn = document.getElementById('albumsBtn');

        var artistsContent = document.getElementById('artistsContent');
        var albumsContent = document.getElementById('albumsContent');

        if (contentType === 'artists') {
            artistsBtn.classList.add('activeButton');
            albumsBtn.classList.remove('activeButton');

            artistsContent.style.display = 'block';
            albumsContent.style.display = 'none';

        } else if (contentType === 'albums') {
            artistsBtn.classList.remove('activeButton');
            albumsBtn.classList.add('activeButton');

            artistsContent.style.display = 'none';
            albumsContent.style.display = 'block';
        }
        }
    </script>
</body>
</html>