<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'vault.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'globals.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="Back">
            {% include 'NavBar.html' %}
            <div class="vault">
                <div class="likesBox">
                    <p>{{likes}}</p>
                    <i onclick="toggleIcon(this)" class="material-icons like">favorite_border</i>
                    <a href="{{description}}" style="text-decoration: none;">
                        <button class="spotifyButton">
                            <img height="20" width="20" class="spotifyLogo" src="{% static 'resources/spotify.png' %}">
                            Spotify
                        </button>
                    </a>
                </div>

                <div class="center">
                    <img height="300" width="300" src="{{spotifyimg}}">
                </div>

                

                <div class="info">
                    <p class="type">{{vtype}}</p>
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>

        <script>
             function toggleIcon(x) {
                if (x.textContent === 'favorite_border') {
                    x.textContent = 'favorite';
                } else {
                    x.textContent = 'favorite_border';
                }
            }
        </script>

    </body>
</html>