<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'vault.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'globals.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="Back">
            {% include 'NavBar.html' %}
            <div class="vault">
                <div class="likesBox">
                    <p>{{likes}}</p>
                    <i onclick="toggleIcon(this)" class="material-icons like">favorite_border</i>
                </div>

                <div class="center">
                    <img height="300" width="300" src="{{spotifyimg}}">
                </div>

                <div class="info">
                    <p class="type">{{vtype}}</p>
                    <div class="info-header">
                    <h2>{{title}}</h2>
                    <div class="button">
                        <a href="{{external_url}}" style="text-decoration: none;">
                            <button class="spotifyButton">
                                <img height="20" width="20" class="spotifyLogo" src="{% static 'resources/spotify.png' %}">
                                Spotify
                            </button>
                        </a>
                    </div>
                    </div>
                    <div class="secondary-info">
                        <img class="secondary-image" height="45" width="45" src="{{authors.0.image}}">
                        <p class="info-item">{{ authors.0.name }}</p>
                        {% if type == 'album' %}
                        <p class="info-separation">·</p>
                        <p class="info-item-2">{{date}}</p>
                        <p class="info-separation">·</p>
                        <p class="info-item-2" >{{total_tracks}} songs</p>
                        {% elif  type == 'artist'%}
                        <p class="info-separation">·</p>
                        <p class="info-item-2">{{genres.0}}</p>
                        {% elif  type == 'podcast' %}
                        <p class="info-separation">·</p>
                        <p class="info-item-2">{{total_tracks}} episodes </p>
                        {% endif %}
                    </div>
                    {% if type == 'podcast' %}
                    <div class="description">
                        <p>{{description}}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script>
             function toggleIcon(x) {
                if (x.textContent === 'favorite_border') {
                    x.textContent = 'favorite';
                } else {
                    x.textContent = 'favorite_border';
                }
            }
        </script>

    </body>
</html>